* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.nav {
  background-color: #1553BC; 
  text-align: center;
}

.nav ol {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}


ol a:hover {
  background-color: #0B2C65;
  padding: 20px;
}

header {
	display: flex;
	justify-content: center;
	padding: 10px 15px;
}

.img-reduce {
	margin: 10px 15px;
	width: 300px;
	height: 400px;
	object-fit: cover;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

h2, h3, h4 {
	display: flex;
	justify-content: center;
}

.img-column {
	display: flex;
	flex-direction: column;
	margin: 15px auto;
}

.button {
	background-color: #1553BC;
	border: none;
	color: white;
	padding: 10px;
	margin: auto 15px;
	text-align: center;
	border-radius: 8px;
	
}

.button:hover {
	background-color: #0B2C65;
}



th, td {
	padding: 10px;
	text-align: center;
	background-color: #045957;
	color: white;
	
	border: 2px solid black;
	border-collapse: collapse;
}

.font-25 {
	font-size: 25px;
}

th, a {
	color: white;
}

.margin-top {
	margin: 30px 0 0 0;
}

.p1 {
	color: red;
	font-size: 20px;
	text-align: center;
	background-color: yellow;
}

.p2 {
	color: yellow;
	font-family: "Brush Script MT", cursive;
	font-size: 30px;
	text-align: left;
	background-color: green;
}

.p3 {
	color: #10920F;
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 15px;
	text-align: right;
	background-color: #7F0C0C;
}

.form-div {
	margin: 30px auto;
	width: 50%;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.input-text {
	width: 100%;
	padding: 10px 10px;
	margin: 15px 0;
	display: inline-block;
	border: 1px solid #0B390B;
	border-radius: 3px;
}

.input-submit {
	width: 30%;
	padding: 15px 15px;
	margin: 10px auto;
	background-color: #1553BC;
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

textarea {
	width: 100%;
	height: 200px;
	padding: 10px 15px;
	border: 1px solid #0B390B;
	border-radius: 3px;
	font-size: 20px;
	resize: none;
}

.input-checkbox {
	width: 20px;
	height: 20px;
	margin-top: 10px;
}

footer {
	display: flex;
	justify-content: center;
}

.a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-small {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.img-small:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.table-grey {
	background-color: grey;
	border: 5px solid light-green;
}




